<link href="https://fonts.googleapis.com/icon?family=Material+Icons" 
rel="stylesheet">
<section class="flex column" >
    <div class="flex">
<mat-icon class="green">done</mat-icon>Paiement securisé
    </div>
    <div class="flex">
<mat-icon class="green">done</mat-icon>Paiement en 3x ou 4x sans frais dés 150€ d'achat
    </div>
<div class="flex">
<mat-icon class="green">done</mat-icon>livraison offerte dés 100€ d'achat
</div>
<div class="flex">
<mat-icon class="green">done</mat-icon>Retour gratuit sous 30 jours
</div>
</section>