<footer class="flex column">
    <div class="footer-one flex">
        <nav class="footer-links flex column">
            <a href="#">Nous contacter</a>
            <a href="#">Mentions légales</a>
            <a href="#">Conditions générales d'utilisation</a>
            <a href="#">Conditions générales de vente</a>
            <a href="#">Service client</a>
        </nav>
        <app-newsletter></app-newsletter>
    </div>
    <div class="social-medias flex">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-square-twitter"></i>
    </div>
    <!-- ====== COMPOSANT PAIEMENT ====== -->
    <div class="up flex">
        <a href="#">Retour en haut</a>
        <i class="fas fa-light fa-arrow-up"></i>
    </div>
</footer>