<section *ngIf="product" id="product" class="flex">
        <div class="product-pictures flex">
            <div class="sub-pictures flex column">
                <img *ngIf="product.image2" src="{{product.image2}}" alt="{{product.name}}">
                <img *ngIf="product.image3" src="{{product.image3}}" alt="{{product.name}}">
            </div>
            <img class="main-picture" src="{{product.image}}" alt="{{product.name}} 3">
        </div>
        <app-product-description *ngIf="product" [product]="product"></app-product-description>
    </section>
    <hr>
    <section *ngIf="lastSeenProducts" id="same-products" class="flex column">
        <h3>Consultés récemment</h3>
        <div class="same-products_main flex">
            <app-product-card *ngFor="let lastProduct of lastSeenProducts" [product]="lastProduct"></app-product-card>
        </div>
        <!-- <app-button [button]="buttonInfo" [product]="product!"></app-button> -->
    </section>