#categories{
    gap: 50px;
}

#categories h1{
    font-size: clamp(25px,3vw,35px);
}
#categories p {
    text-align: center;
}
#card{
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
}

.title-category h1 {
    font-size: clamp(24px,3vw,38px);
    /* gap:40px; */
}
.title-category p {
padding-bottom:50px;
}