#progress-bar {
    justify-content: center;
    gap: 5px;
    margin: 50px 0px 100px;
}

.step {
    gap: 10px;
}
p{
    margin: 5px 0 5px;
}
.step > p {
    font-size: 13px;
}
.step-circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-weight: 700;
    justify-content: center;
    
}
#progress-bar span{
    position: relative;
    display: inline-block;
    background: black;
    min-width: 20%;
    height: .5px;
    margin-bottom: 30px;
}
.red{
    background-color: var(--color-red);
}
.gray{
    background-color: var(--color-light_grey);
}
