/* .product {
    flex-wrap: wrap;
    gap: 40px;
     justify-content: space-around;
    align-items: flex-start; 
    padding: 50px 20px;
    justify-content: center;
} */


.product img {
    /*position: relative;*/
    width: 230px;
    height: 400px;
    gap: 20px;
}

p {
    gap: 15px;
    font-weight: 300;
    font-size: clamp(16px, 3vw, 20px);
    text-align: center;
}