
.article {
    align-items: flex-start;
    justify-content: flex-start;
    /* justify-content: space-between; */
    width: 100%;
    gap: 20px;
    padding: 10px;
}

.article img{
    width: 200px;
    height: 200px;
}
.detail {
    align-items: flex-start;
    width: min(400px,100%);
    /* min-width: 400px; */
}
p{
    font-size: 15px;
}

.nom-prix{
    width: 100%;
    justify-content: space-between;
    /* gap: 20px; */
}
.nom-prix h3, .nom-prix p{
    font-weight: 500;
    font-size: clamp(17px, 3vw, 20px);
}

.elements {
    gap: 40px;
}

.element {
    justify-content: space-around;
    gap: 10px;

}


hr{
    width: 100%;
    border-top: 1px solid grey;
}

@media (max-width: 630px){
    .article{
        flex-direction: column;
    }
    .article a{
        align-self: center;
    }
    .elements{
        gap: 5px;
    }

    .livraison label, .livraison li{
        font-size: 12px;
    }
}

@media (max-width:980px) {
    .elements{
        gap: 10px;
    }
}

@media (max-width: 1090px){
    .element{
        gap: 2px;
    }
    .elements{
        gap: 5px;
    }
}