<section class="flex">
    <div class="article-livraison flex column">
        <div class="articles flex column">
            <div class="article flex">
                <a routerLink="/cart"><img src="" alt="photo de produit"></a>
                <div class="detail flex column">
                    <div class="nom-prix flex">
                        <h3>nom de produit</h3>
                        <p>prix€</p>
                    </div>
                    <p>description****</p>
                    <div class=" elements flex">
                        <div class=" element flex">
                            <mat-icon>favorite_border</mat-icon>Ajouter au favoris
                        </div>
                        <div class="element flex">
                            <mat-icon>delete</mat-icon>Retirer du panier
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>