/* MAIN */
/* ------ GRID ------ */

.main-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-gap: 7px;
}

.region h3 {
    color: var(--color-white);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: clamp(17px, 4vw, 40px);
}

.region a {
    background-color: var(--color-white);
    padding: 10px 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: clamp(5px, 2vw, 15px);
    font-weight: 500;
}


.main-grid a:hover {
    background-color: var(--color-red);
    color: var(--color-white);
}

.region img {
    width: 100%;
    height: 100%;
}


/* ------------ BANNER ---------- */

.banner {
    grid-column: 1/3;
    grid-row: 1;
    background: var(--color-red);
    gap: 20px;
    padding: 35px 50px;
    color: var(--color-white);
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

.banner-carousel {
    width: min(400px, 100%);
    justify-content: center;
}

.left-arrow {
    transform: translateX(35px);
}

.right-arrow {
    transform: translateX(-35px);
}

.banner-text {
    width: min(400px, 100%);
    align-items: flex-start;
    gap: 40px;
}

h1 {
    font-size: clamp(30px, 4vw, 40px);
    font-weight: 600;
}

.banner h2 {
    font-size: clamp(16px, 3vw, 22px);
    font-weight: 400;
    line-height: 40px;
}




.region-text {
    align-items: center;
    gap: 20px;
    text-align: center;
}

/* ------- AFRICA SECTION -------- */

.africa {
    grid-column: 1;
    grid-row: 2;
}

.africa .region-text {
    transform: translateY(-200px);
}


.america {
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
    align-items: flex-start;
}

.america .region-text {
    transform: translateY(-200px);
}

.asia {
    grid-column: 2;
    grid-row: 3/6;
    justify-content: center;
}


.asia .region-text {
    padding: 20px 0px;
    transform: translateY(-400px);
    background-color: rgba(28, 28, 28, 0.248);
    width: min(230px, 70%);
    margin: auto;
}

.europe {

    grid-column: 1;
    grid-row: 4/7;
    align-items: flex-end;
    justify-content: center;
}

.europe .region-text {
    transform: translateY(-500px);
}

.value {
    background: var(--color-beige);
    color: var(--dark_grey);
    padding: 50px;
    gap: 30px;
    text-align: center;
}

.value h3 {
    font-size: clamp(16px, 2vw, 25px);
    color: var(--dark_grey);
}

.value i {
    font-size: clamp(20px, 3vw, 35px);
    color: var(--color-red);
}

.value p {
    font-size: clamp(12px, 2vw, 18px);
}



/* --------- AVIS CLIENTS ----------- */
#testimonies {
    padding: 20px;
    margin-top: 100px;
    gap: 50px;
    align-items: center;
}

#testimonies h3 {
    font-size: clamp(20px, 3vw, 30px);
    text-transform: uppercase;
    font-weight: 500;
}

.testimonies-main {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.testimony-box {
    border: 1px solid black;
    padding: 10px;
    gap: 10px;
    width: min(250px, 100%);
    align-items: flex-start;
}

.testimoner img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.testimony-box hr {
    border: 4px solid var(--dark_grey);
}

.testimoner {
    font-weight: 600;
    gap: 5px;
}

.main-testimony {
    background: var(--color-red);
    color: var(--color-white);
}

@media(max-width: 1020px) {
    .europe .region-text {
        transform: translateY(-400px);
    }
}

@media (max-width: 1008px) {

    .testimony-1,
    .testimony-2 {
        display: none;
    }
}

@media(max-width: 830px) {
    .asia .region-text {
        transform: translateY(-250px);
        gap: 15px;
    }
}

@media(max-width: 790px) {
    .europe .region-text {
        transform: translateY(-350px);
    }
}

@media(max-width: 730px) {
    .africa .region-text {
        transform: translateY(-150px);
    }

    .america .region-text {
        transform: translateY(-150px);
    }
}

@media (max-width: 650px) {
    .europe .region-text {
        transform: translateY(-300px);
    }
}

@media (max-width: 570px) {
    .europe .region-text {
        transform: translateY(-250px);
    }

    .region a {
        padding: 7px 12px;
    }
}

@media (max-width: 565px) {
    .value {
        padding: 20px;
        gap: 10px;
    }
}

@media (max-width:560px) {
    .main-grid {
        grid-gap: 4px;
    }
}

@media (max-width: 505px) {
    .scroll-arrow {
        display: none;
    }
}


@media(max-width: 480px) {
    .europe .region-text {
        transform: translateY(-200px);
    }
}

@media(max-width: 460px) {
    .asia .region-text {
        transform: translateY(-200px);
        padding: 15px 5px;
    }

    .left-arrow,
    .right-arrow {
        width: 20px;
    }

    .left-arrow {
        transform: translateX(20px);
    }

    .right-arrow {
        transform: translateX(-20px);
    }
}

@media(max-width: 430px) {
    .banner {
        padding: 25px 30px;
    }
}