
        <!-- BANNER -->
        <section class="main-grid">
            <div class="banner flex">
                <div class="banner-carousel flex">
                    <img class="left-arrow" src="assets/images/home/arrow-left.png" alt="left-arrow">
                    <img class="carousel-image" src="assets/images/home/sari_white_banner.png" alt="woman with white sari">
                    <img class="right-arrow" src="assets/images/home/arrow-right.png" alt="right-arrow">
                </div>
                <div class="banner-text flex column">
                    <h1>Etnika,</h1>
                    <h2>Des tenues traditionnelles de toutes les régions du monde</h2>
                </div>
            </div>
            <!-- AFRICA -->
            <div class="region africa">
                <img src="assets/images/home_grid/african ethnic_women.png" alt="african ethnic women">
                <div class="region-text flex column">
                    <h3>Afrique</h3>
                    <a href="#">Je découvre</a>
                </div>
            </div>
            <div class="region america">
                <img src="assets/images/home_grid/pollera_panama_girl.png" alt="pollera girl">
                <div class="region-text flex column">
                    <h3>Amérique du sud</h3>
                    <a href="#">Je découvre</a>
                </div>
            </div>
            <div class="value flex column">
                <h3>Une qualité garantie</h3>
                <i class="fa-solid fa-star"></i>
                <p>Nos tenues sont cousues-main directement dans les régions choisies.</p>
            </div>
            <div class="region asia">
                <img src="assets/images/home_grid/red kimono_woman.png" alt="red kimono woman">
                <div class="region-text flex column">
                    <h3>Asie</h3>
                    <a href="./categorie.html">Je découvre</a>
                </div>
            </div>

            <div class="region europe">
                <img src="assets/images/home_grid/kilt_man.png" alt="man wearing a kilt">
                <div class="region-text flex column">
                    <h3>Europe</h3>
                    <a href="#">Je découvre</a>
                </div>
            </div>
            <div class="value flex column">
                <h3>Un prix abordable</h3>
                <i class="fa-solid fa-euro-sign"></i>
                <p>Obtenez un très bon rapport qualité-prix à un prix abordable</p>
            </div>
        </section>

        <!-- ------ AVIS CLIENTS --------- -->
        <section id="testimonies" class="flex column">
            <h3>Nos avis clients</h3>
            <div class="testimonies-main flex">
                <img class="scroll-arrow" src="assets/images/home/arrow-left.png" alt="left-arrow">
                <div class="testimony-box testimony-1 flex column">
                    <i class="colorRed fa-sharp fa-solid fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quae accusamus nobis voluptatibus
                        dolor iure a inventore? Ipsa nihil mollitia repudiandae, aliquam dolorum non similique
                        architecto ea
                        fuga porro esse.</p>
                    <hr>
                    <div class="testimoner flex">
                        <p> SACHA, passionnée par la culture asiatique</p>
                        <img src="assets/images/home/avatar-one.png" alt="black woman">

                    </div>
                </div>
                <div class="testimony-box main-testimony flex column">
                    <i class="colorRed fa-sharp fa-solid fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quae accusamus nobis voluptatibus
                        dolor iure a inventore? Ipsa nihil mollitia repudiandae, aliquam dolorum non similique
                        architecto ea
                        fuga porro esse.</p>
                    <hr>
                    <div class="testimoner flex">
                        <p> SACHA, passionnée par la culture asiatique</p>
                        <img src="./Images/avatar-one.png" alt="black woman">
                    </div>
                </div>
                <div class="testimony-box testimony-2 flex column">
                    <i class="colorRed fa-sharp fa-solid fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quae accusamus nobis voluptatibus
                        dolor iure a inventore? Ipsa nihil mollitia repudiandae, aliquam dolorum non similique
                        architecto ea
                        fuga porro esse.</p>
                    <hr>
                    <div class="testimoner flex">
                        <p> SACHA, passionnée par la culture asiatique</p>
                        <img src="./Images/avatar-one.png" alt="black woman">
                    </div>
                </div>
                <img class="scroll-arrow" src="assets/images/home/arrow-right.png" alt="right-arrow">
            </div>
        </section>