#pre-footer{
    background: var(--color-light_grey);
    padding: 50px;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

app-service-card{
    max-width: 300px;
    /* width: min(300px, 100%); */
}