/* You can add global styles to this file, and also import other style files */
/* ------ CSS Global ------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    /* Les images vont toujours faire la taille importé, si elle ne peuvent plus, elles s'adaptent à la fenêtre*/
    display: block;
    /* car images hybrides entre block et inline*/
}

:root {
    /* variables*/
    --color-red: #882404;
    --color-white: #FFFFFF;
    --color-light_grey: #EEEEEE;
    --color-extra_light_grey: #F5F5F5;
    --color-dark_grey: #232323;
    --color-beige: #D7C4AB;
}

body {
    background-color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* on met des borders aux boites qu'on efface ensuite pour voir où se placent les sections */

/* div, section, main, header, nav {
    border : 1px solid black;
} */

.flex {
    /* clesse globale pour metrre en flex, à ajouter dans le html*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: var(--color-red);
}

button {
    border: none;
    background-color: var(--color-white);
    cursor: pointer;
}

/* ----- FONTS ------- */
h1{
    font-size: clamp(28px,3vw,40px);
}

h2{
    font-size: clamp(22px,3vw,30px);
}
h3{
    font-size: clamp(15px,3vw,18px);
}

p{
    font-size: clamp(13px,3vw,15px);
    line-height: 22px;
}




/* MAIN  */

main {
    width: min(1195px, 90%);
    margin: 50px auto 100px;
    /* le auto le centre */
}


/* ------------ FOOTER ------------- */
footer{
    padding: 100px;
    background-color: var(--color-extra_light_grey);
    gap: 80px;
}


.footer-one{
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
} 

.footer-links{
    width: min(310px,100%);
    gap: 20px;
    align-items: flex-start;
}

.footer-links a{
    text-transform: none;
    font-size: clamp(13px,3vw,16px);
}

.newsletter{
    width: min(550px,100%);
    text-align: center;
    gap: 20px;
}

.newsletter h3{
    text-transform: uppercase;
    font-size: clamp(18px,3vw,24px);
}

.newsletter-form{
    width: min(350px,100%);
    gap: 13px;
}
.newsletter-form input{
    width: 100%;
    border: 2px solid var(--color-red);
    padding: 10px;
}

footer ::placeholder {
    font-size: medium;
}

.submit-button{
    background-color: var(--color-red);
    color: white;
    padding: 2px 6px;
}

.social-medias{
    text-align: center;
    gap: 40px;
}
.social-medias .fa-brands{
    font-size: 50px;
}

.payment-methods{
    width: 300px;
}

.up{
    gap: 5px;
}
/*================ MEDIA QUERIES ====================== */
@media (max-width: 1000px) {
/* ------- FOOTER  ------ */

footer{
    padding: 30px;
}
}

@media (max-width: 750px) {

        /* ---------FOOTER ------ */
        .footer-one{
            flex-direction: column;
            align-items: center;
        }
}

@media (max-width: 550px){
    /* ------------ FOOTER ------------- */
footer{
    padding: 30px;
}
.social-medias .fa-brands{
    font-size: 40px;
}

.payment-methods{
    width: 250px;
}
}