<app-bar-progress></app-bar-progress>
<!-- NOMBRE D'ARTICLES -->
<section class="main-box">
    <div class="payment-total flex">
        <app-payement-form></app-payement-form>
        <app-payement-total></app-payement-total>
    </div>
    <app-garantees></app-garantees>
    <p class="other-payments-p">Vous pouvez également réaliser ce paiement avec :</p>
    <div class="other-payments flex">
        <img src="assets/images/payment/GooglePay.png" alt="google pay">
        <img src="assets/images/payment/ApplePay.png" alt="apple pay">
        <img src="assets/images/payment/PayPal.png" alt="paypal">
        <img src="assets/images/payment/Bitcoin.png" alt="bitcoin">
        <img src="assets/images/payment/AmazonPay.png" alt="amazon pay">
    </div>
</section>